musical-games==0.3.14
numpy==1.16.4
PyYAML==5.1.1
six==1.12.0
certifi==2019.6.16
chardet==3.0.4
docopt==0.6.2
flashcard==0.0.4
idna==2.8
requests==2.22.0
termcolor==1.1.0
urllib3==1.25.3
cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.16.4
pygame==1.9.6
pyparsing==2.4.0
python-dateutil==2.8.0
six==1.12.0
